<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/staff/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/receptionist/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>AccountFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.AccountFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#AccountFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CheckinFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CheckinFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#CheckinFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CheckoutFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CheckoutFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#CheckoutFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>AccounttypeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.AccounttypeFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#AccounttypeFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CustomerFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#CustomerFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PromotionFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.PromotionFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#PromotionFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ReservationFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.ReservationFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#ReservationFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RoomFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.RoomFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#RoomFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RoomtypeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.RoomtypeFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#RoomtypeFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ServiceFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.ServiceFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#ServiceFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsedserviceFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.UsedserviceFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#UsedserviceFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RoomFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.RoomFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#RoomFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RoomtypeFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.RoomtypeFacadeLocal</local>
        <ejb-link>HotelManagementEE-ejb.jar#RoomtypeFacade</ejb-link>
    </ejb-local-ref>
</web-app>
